.app-container {
    height:100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
      "content"
      "nav"
   }
.nav-bar {
    background-color: $clr2;
    border-top: 1px solid #282828;
grid-area: nav;
flex-direction: row;
}

.nav-list{
    flex-direction: row;
}

.header{
grid-area: header;
flex-direction: column;
background-color: $clr1;}

.content{
grid-area: content;
flex-direction: column;
background-color: $clr1;}

// .audio-player{
//     align-items: center;
//     justify-content: space-around;
//     height: 90px;
//     width: 100%;
//     display: flex;
//     z-index: 5;
//     position: fixed;
//     bottom: 0px;
//     background-color: $clr1;
//     box-shadow: 1px -1px 0px 0px rgba(179, 179, 179,0.2);
// }

@media screen and (min-width: 600px) {
    .app-container {
        grid-template-columns: 220px 1fr;
        grid-template-areas:
          "nav    content  content"
          "nav    content content"
          "nav    content content"
       }
    .nav-bar{
        flex-direction: column;
    }
  }