.filter_container {
    flex-basis: 20%;
    background-color: white;
    box-shadow: 0 0 10px rgb(173, 173, 173);
    padding: 1rem 0.5rem;
    align-self: flex-start;
    min-height: 300px;
    max-height: fit-content;

    form {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        & > label > input:not([type=checkbox]) {
            border: 1px solid lightgray;
            height: 40px;
            width: 100%;
        }
    }

    .checkbox-container {
        display: flex;
        align-items: center;
    }
}