.toy-update-container  {
    background-color: $color-secondary;
    color: white;
    padding: 2rem;
    width: 300px;
    margin: auto;
    border-radius: 5px;

    form {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        label {
            display: flex;
            flex-direction: column;
        }
        
        input {
            height: 30px;
        }
        
        .btn-update {
            height: 40px;
            margin-top: 1rem;
            border-radius: 5rem;
            background-color: $color-accent;
            font-weight: 700;
            font-size: 1.3rem;
            color: gray;
            transition: all 0.3s;
        }
        
        .btn-update:hover {
            background-color: #4de9dc;
            color: $color-txt;
        }
        
        .multiselect-container {
            background-color: white;
        }
        .optionListContainer  {
            color: gray;
        }
    }
}

