.hero {
    z-index: 300;
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 0;
    left: 0;
    top: 0;
    
    
    
    h1{
        filter: drop-shadow(0px 0px 1px #1c2c74);
        margin: 5px;
        font-size: 10vh;
        @include for-wide-layout {
            font-size: 17vh;
        }
    }

    h3{
        filter: drop-shadow(0px 0px 1px #1c2c74);
        margin: 5px;
        font-size: 4.5vh;
        @include for-wide-layout {
            font-size: 5vh;
        }
    }

    p{
        filter: drop-shadow(0px 0px 1px #1c2c74);
        align-self: center;
        margin: 5px;
        font-size: 2.5vh;
        max-width: 30vh;
        @include for-wide-layout {
            max-width: none;
            font-size: 3vh;
        }
    }

    .hero-txt-container {
        left: 50%;  
        top: 40%;
        align-self: center;
        color: $clr5;
        justify-content: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        z-index: 5;
    }
    
    button{
        filter: drop-shadow(0px 0px 1px #1c2c74);
        margin: 20px;
        cursor: pointer;
        align-self: center;
        background-color: $clr5;
        color: #2941ab;
        border-radius: 25px;
        border: none;
        font-size: 4vh;
        width: 80%;
        padding: 5px;
        @include for-wide-layout {
            width: 50vh;
        }
    }

    .hero-container {
        background: #2941ab;
        background: -webkit-linear-gradient(top left, #1c2c74 0%, #3452d9 100%);
        background: linear-gradient(to bottom right, #1c2c74 0%, #3452d9 100%);
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin-top: 0px;
        overflow: hidden;
    }


    .bg-bubbles {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .bg-bubbles li {
        border-radius: 50%;
        position: absolute;
        list-style: none;
        display: block;
        width: 40px;
        height: 40px;
        background-image: url(/src/assets/upbeatinvertedsquaregreen.svg);
        opacity: 100%;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        bottom: -300px;
        -webkit-animation: square 40s infinite;
        animation: square 40s infinite;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
    }

    .bg-bubbles li:nth-child(1) {
        left: 10%;
        -webkit-animation-delay: 5s;
        animation-delay: 5s;
        -webkit-animation-duration: 15s;
        animation-duration: 15s;
    }

    .bg-bubbles li:nth-child(2) {
        left: 70%;
        width: 80px;
        height: 80px;
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
        -webkit-animation-duration: 23s;
        animation-duration: 23s;
    }

    .bg-bubbles li:nth-child(3) {
        left: 25%;
        width: 80px;
        height: 80px;
        -webkit-animation-delay: 50s;
        animation-delay: 50s;
    }

    .bg-bubbles li:nth-child(4) {
        left: 900%;
        width: 60px;
        height: 60px;
        -webkit-animation-duration: 22s;
        animation-duration: 22s;
    }

    .bg-bubbles li:nth-child(5) {
        left: 40%;
        -webkit-animation-duration: 15s;
        animation-duration: 15s;
    }

    .bg-bubbles li:nth-child(6) {
        left: 105%;
        width: 120px;
        height: 120px;
        -webkit-animation-delay: 7s;
        animation-delay: 7s;
    }

    .bg-bubbles li:nth-child(7) {
        left: 90%;
        width: 160px;
        height: 160px;
        -webkit-animation-delay: 10s;
        animation-delay: 10s;
        @include for-wide-layout {
            left: 80%;
                    }
    }

    .bg-bubbles li:nth-child(8) {
        left: -55%; 
        width: 300px;
        height: 300px;
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
        -webkit-animation-duration: 30s;
        animation-duration: 30s;        
        @include for-wide-layout {
left: -5%;
        }
    }

    .bg-bubbles li:nth-child(9) {
        left: 85%;
        width: 200px;
        height: 200px;
        -webkit-animation-delay: 5s;
        animation-delay: 5s;
        -webkit-animation-duration: 30s;
        animation-duration: 30s;
        @include for-wide-layout {
            left: 95%;
                    }
    }

    .bg-bubbles li:nth-child(10) {
        left: 70%;
        -webkit-animation-delay: 28s;
        animation-delay: 28s;
    }

    @-webkit-keyframes square {
        0% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }

        100% {
            -webkit-transform: translateY(-1700px) rotate(600deg);
            transform: translateY(-1700px) rotate(600deg);
        }
    }

    @keyframes square {
        0% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }

        100% {
            -webkit-transform: translateY(-1700px) rotate(600deg);
            transform: translateY(-1700px) rotate(600deg);
        }
    }


}