.playlist-details {
    margin-bottom: 130px;

    .playlist-header {
        gap: 30px;
        background-color: rgb(83, 83, 83);
        background: linear-gradient(transparent 0, rgba(0, 0, 0, .5) 100%);
        padding: 30px;
        padding-top: 62px;
        margin-bottom: 40px;
        position: relative;

        .img-container {
            height: 233px;
            width: 233px;
            text-align: center;
            background: #282828;
            align-items: center;
            justify-content: center;
        }

        img {
            height: 100%;
            width: 100%;
        }

        .new-playlist-icon {
            font-size: rem(70px);

        }

        h5:nth-child(1) {
            text-transform: uppercase;
        }

        h1 {
            font-size: rem(95px);
            margin: 8px 0;
        }

        p {
            color: $clr7;
            margin: 12px 0;
        }

        div {
            justify-content: flex-end;
        }

        &:after {
            content: '';
            // background-color: inherit;
            height: 300px;
            background: linear-gradient(180deg, rgba(18, 18, 18, 0.6810925053615196) 3%, rgba(18, 18, 18, 1) 80%);
            background-color: inherit;
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
        }

        .playlist-length{
            font-weight: 200;
            color: $clr7;
            &::before{
                content: ', ';
                font-weight: bold;
                color: $clr3;
            }
        }
    }

    .play-all-btn {
        position: relative;
        bottom: 40px;
        height: 50px;
        width: 50px;
        justify-content: center;
        align-items: center;
        background-color: $clr5;
        border: 1px solid transparent;
        border-radius: 50%;

        &:hover {
            color: $clr8;
            -webkit-transform: scale(1.06);
            transform: scale(1.06);
            -webkit-transition-property: all;
            transition-property: all
        }
    }

    .song-preview {
        padding: 7px 10px;
        border-radius: 5px;
        display: grid;
        grid-template-columns: auto auto 2fr 1fr auto auto;
        align-items: center;
        gap: 20px;
        width: 100%;
        color: $clr7;


        img {
            height: 40px;
            width: 40px;
            object-fit: cover;
        }

        h5 {
            color: $clr7;
        }

        .song-title {
            font-weight: 200;
            color: $clr3;
            min-width: 320px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .play-container {
            width: 20px;
            justify-content: center;
            position: initial;
        }

        .audio-svg {
            width: 15px;
            height: 15px;
        }

        .song-duration {
            width: 41px;
            text-align: right;
        }



        &:hover {
            background-color: rgba($color: #ffffff, $alpha: 0.1);
            cursor: default;
        }

        &:hover>div>h5 {
            display: none;
        }

        &:hover>div>.play-btn {
            display: block;
            font-size: 20px;
            position: relative;
            left: 1px;
            cursor: pointer;
        }

        &:hover>div>.audio-svg {
            display: none;
        }

        .green {
            color: $clr5;
        }
    }

    .search-container {
        margin-top: 40px;
        position: relative;
        z-index: 2;

        h3 {
            margin-bottom: 20px;
        }

        .search-bar {
            input {
                padding: 10px 178px 10px 10px;
                margin-bottom: 20px;
                position: relative;
                z-index: 2;
            }
        }

        .song-preview {
            display: grid;
            grid-template-columns: auto auto 2fr auto auto auto;

            .add-button {
                background-color: transparent;
                color: $clr3;
                font-weight: bold;
                font-size: rem(14px);
                padding: 7px 14px;
                border: 1px solid $clr7;
                border-radius: 50px;

            }

            .add-button:hover {
                cursor: pointer;
                color: $clr3;
                -webkit-transform: scale(1.06);
                transform: scale(1.06);
                -webkit-transition-property: all;
                transition-property: all
            }
        }
    }

    .sorting-table {
        color: $clr7;
        padding: 0 10px 10px 16px;
        box-shadow: 0px 1px 0px 0px rgba($color: $clr3, $alpha: 0.2);
        margin-bottom: 20px;
        display: grid;
        grid-template-columns: auto 14fr 7.4fr auto;
        align-items: center;
        gap: 20px;


        // .idx-label {
        //     margin-left: 16px;
        // }

        // .title-label {
        //     margin-left: 24px;
        // }

        .date-label {
            margin-left: 0px;
        }

        .duration-label {
            // background-color: aqua;
        }
    }

    .header-element{
        position: fixed;
        z-index: 20;
        top: 7px;
        justify-content: center;
        gap: 20px;
        .play-all-btn{
            position: static;
            height: 50px;
        }
        h2{
            display: flex;
            align-items: center;
        }
    }

}