.playlist-details {
    .playlist-header {
        gap: 20px;
        background-color: rgb(83, 83, 83);
        background: linear-gradient(transparent 0,rgba(0,0,0,.5) 100%);
        padding: 20px;

        .img-container{
            height: 233px;
            width: 233px;
            text-align: center;
            background: #282828;
            align-items: center;
            justify-content: center;
        }

        img {
            height: 100%;
            width: 100%;
        }

        .new-playlist-icon{
            font-size: rem(70px);
        }

        h5:nth-child(1){
            text-transform: uppercase;
        }

        h1 {
            font-size: rem(95px);
        }

        div {
            justify-content: flex-end;
        }
    }
}

