.search {
    margin-bottom: 130px;
    .tag-container {
        display: grid;
        margin-top: 15px;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 30px;

        .tag-preview {
            justify-self: center;
            width: 200px;
            height: 200px;
            padding: 10px;
            border-radius: 10px;
            position: relative;
            overflow: hidden;
            img{
                box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
                -webkit-transform: rotate(25deg) translate(18%,2%);
                transform: rotate(25deg) translate(18%,2%);
                position: absolute;
                bottom: 0;
                right: 0;
                object-fit: cover;
                object-position: center center;
                height: 80px;
                width: 80px;
            }
        }
    }

    .search-bar {
        display: grid;
        gap: 30px;
        grid-template-columns: minmax(350px, auto) 1fr;


        input {
            z-index: 20;
            position: fixed;
            top: 11px;
            background-color: $clr3;
            color: $clr1;
            height: 40px;
            width: 400px;
            border-radius: 50px;
            padding-left: 20px;
            margin-bottom: 40px;
        }

        .top-result {
            max-width: 450px;
            display: grid;
            grid-template-rows: (auto) 1fr;

            .song-preview {
                display: block;
                padding: 20px;
                background-color: rgba($color: #ffffff, $alpha: 0.03);
                height: auto;
                border-radius: 10px;
                position: relative;
                overflow: hidden;

                .song-title {
                    width: 100%;
                    font-size: 2rem;
                    line-height: 2.25rem;
                    text-transform: none;
                    letter-spacing: -0.04em;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    margin: 0;
                }

                .play-container {
                    display: block;
                    position: absolute;
                    bottom: 20px;
                    right: 20px;

                    h5 {
                        display: none;
                    }



                    .play-btn {
                        display: none;
                        box-sizing: content-box;
                        padding: 8px;
                        height: 23px;
                        width: 23px;
                        background-color: $clr5;
                        color: $clr2;
                        border-radius: 50%;
                        cursor: pointer;

                        path {
                            transform: translate(1px);
                        }
                    }

                }

                img {
                    height: 92px;
                    width: 92px;
                    object-fit: cover;
                    border-radius: 5px;
                    margin-bottom: 30px;
                }

                &:hover {
                    .play-btn {
                        display: block;
                    }
                }
            }
        }

        .songs {
            color: $clr3;
            // flex-grow: 1;

            .song-preview {
                padding: 7px 10px;
                border-radius: 5px;
                display: grid;
                grid-template-columns: auto auto 1fr auto;
                align-items: center;
                gap: 20px;

                img {
                    height: 40px;
                    width: 40px;
                    object-fit: cover;
                }

                h5 {
                    color: $clr7;


                }

                .song-title {

                    min-width: 320px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                .song-duration {
                    // justify-content: flex-end;
                    margin-left: auto;
                    color: $clr7;
                }

                .play-container {
                    width: 20px;
                    justify-content: center;
                    position: initial;
                }


                &:hover {
                    background-color: rgba($color: #ffffff, $alpha: 0.1);
                }

                &:hover>div>h5 {
                    display: none;
                }

                &:hover>div>.play-btn {
                    display: block;
                    font-size: 20px;
                    position: relative;
                    left: 1px;
                }
            }
        }
    }
}