/* Media queries Breakpoint mixins */
.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.inline-flex {
  display: inline-flex;
}

.clean-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.vertical-text {
  writing-mode: tb-rl;
  transform: rotate(-180deg);
}

.hidden {
  display: none;
}

.relative {
  position: relative;
}

.opacity-zero {
  opacity: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-family: Circular-Book, sans-serif;
  color: #ffffff;
}

body {
  overflow: hidden;
  margin: 0;
  background-color: #121212;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.root {
  height: 100 vh;
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul {
  list-style-type: none;
}

p {
  margin: 0;
}

input, select {
  background-color: rgba(255, 255, 255, 0.1);
  border: 0;
  border-radius: 4px;
  outline: none;
  color: #ffffff;
}

.app-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "content" "nav";
}

.nav-bar {
  background-color: #000000;
  border-top: 1px solid #282828;
  grid-area: nav;
  flex-direction: row;
}

.nav-list {
  flex-direction: row;
}

.header {
  grid-area: header;
  flex-direction: column;
}

.content {
  height: 100vh;
  overflow: scroll;
  grid-area: content;
  flex-direction: column;
  background-color: #121212;
}

.main-layout {
  display: grid;
  grid-template-columns: 30px 1fr 30px;
}
.main-layout > * {
  grid-column: 2;
}
.main-layout > *.full {
  grid-column: 1/-1;
}

@media screen and (min-width: 680px) {
  .app-container {
    grid-template-columns: 220px 1fr;
    grid-template-areas: "nav    content  content" "nav    content content" "nav    content content";
  }

  .nav-bar {
    flex-direction: column;
  }
}
.playlist-details {
  margin-bottom: 130px;
}
.playlist-details .playlist-header {
  gap: 30px;
  background-color: rgb(83, 83, 83);
  background: linear-gradient(transparent 0, rgba(0, 0, 0, 0.5) 100%);
  padding: 30px;
  padding-top: 62px;
  margin-bottom: 40px;
  position: relative;
}
.playlist-details .playlist-header .img-container {
  min-height: 233px;
  min-width: 233px;
  max-height: 233px;
  max-width: 233px;
  text-align: center;
  background: #282828;
  align-items: center;
  justify-content: center;
}
.playlist-details .playlist-header img {
  height: 233px;
  width: 100%;
}
.playlist-details .playlist-header .new-playlist-icon {
  font-size: 4.375rem;
}
.playlist-details .playlist-header h5:nth-child(1) {
  text-transform: uppercase;
}
.playlist-details .playlist-header h1 {
  font-size: 5.9375rem;
  margin: 8px 0;
}
.playlist-details .playlist-header p {
  color: #b3b3b3;
  margin: 12px 0;
}
.playlist-details .playlist-header div {
  justify-content: flex-end;
}
.playlist-details .playlist-header:after {
  content: "";
  height: 300px;
  background: linear-gradient(180deg, rgba(18, 18, 18, 0.6810925054) 3%, rgb(18, 18, 18) 80%);
  background-color: inherit;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
}
.playlist-details .playlist-header .playlist-length {
  font-weight: 200;
  color: #b3b3b3;
}
.playlist-details .playlist-header .playlist-length::before {
  content: ", ";
  font-weight: bold;
  color: #ffffff;
}
.playlist-details .playlist-controls {
  position: relative;
  bottom: 42px;
  align-items: center;
  gap: 30px;
}
.playlist-details .playlist-controls .play-all-btn {
  height: 50px;
  width: 50px;
  justify-content: center;
  align-items: center;
  background-color: #1ed760;
  border: 1px solid transparent;
  border-radius: 50%;
}
.playlist-details .playlist-controls .play-all-btn svg {
  position: relative;
  width: 20px;
  height: 20px;
  top: 1px;
}
.playlist-details .playlist-controls .play-all-btn:hover {
  color: #181818;
  -webkit-transform: scale(1.06);
  transform: scale(1.06);
  -webkit-transition-property: all;
  transition-property: all;
}
.playlist-details .playlist-controls .like {
  height: 33px;
  width: 33px;
}
.playlist-details .playlist-controls .options-btn {
  height: 33px;
  width: 27px;
}
.playlist-details .song-preview {
  padding: 7px 10px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: auto auto 2fr 1fr auto auto auto;
  align-items: center;
  gap: 20px;
  width: 100%;
  color: #b3b3b3;
}
.playlist-details .song-preview img {
  height: 40px;
  width: 40px;
  object-fit: cover;
}
.playlist-details .song-preview h5 {
  color: #b3b3b3;
}
.playlist-details .song-preview .song-title {
  font-weight: 200;
  color: #ffffff;
  min-width: 320px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.playlist-details .song-preview .play-container {
  width: 20px;
  justify-content: center;
  position: initial;
}
.playlist-details .song-preview .audio-svg {
  width: 15px;
  height: 15px;
}
.playlist-details .song-preview .song-duration {
  width: 41px;
  text-align: right;
}
.playlist-details .song-preview:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: default;
}
.playlist-details .song-preview:hover .options-btn {
  opacity: 1;
}
.playlist-details .song-preview:hover .like {
  opacity: 1;
}
.playlist-details .song-preview:hover > div > h5 {
  display: none;
}
.playlist-details .song-preview:hover > div > .play-btn {
  display: block;
  font-size: 20px;
  position: relative;
  left: 1px;
  cursor: pointer;
}
.playlist-details .song-preview:hover > div > .audio-svg {
  display: none;
}
.playlist-details .song-preview .green {
  color: #1ed760;
}
.playlist-details .song-preview .options-btn {
  opacity: 0;
  position: relative;
  top: 2px;
  width: 22px;
  height: 22px;
}
.playlist-details .song-preview .options-btn:hover {
  cursor: pointer;
}
.playlist-details .song-preview .like {
  cursor: pointer;
}
.playlist-details .search-container {
  margin-top: 40px;
  position: relative;
  z-index: 2;
}
.playlist-details .search-container h3 {
  margin-bottom: 20px;
}
.playlist-details .search-container .search-bar input {
  padding: 10px 178px 10px 10px;
  margin-bottom: 20px;
  position: relative;
  z-index: 2;
}
.playlist-details .search-container .song-preview {
  display: grid;
  grid-template-columns: auto auto 2fr auto auto auto;
}
.playlist-details .search-container .song-preview .add-button {
  background-color: transparent;
  color: #ffffff;
  font-weight: bold;
  font-size: 0.875rem;
  padding: 7px 14px;
  border: 1px solid #b3b3b3;
  border-radius: 50px;
}
.playlist-details .search-container .song-preview .add-button:hover {
  cursor: pointer;
  color: #ffffff;
  -webkit-transform: scale(1.06);
  transform: scale(1.06);
  -webkit-transition-property: all;
  transition-property: all;
}
.playlist-details .sorting-table {
  color: #b3b3b3;
  padding: 0 10px 10px 16px;
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.2);
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: auto 14fr 7.4fr auto 0.35fr;
  align-items: center;
  gap: 20px;
}
.playlist-details .header-element {
  position: fixed;
  z-index: 20;
  top: 7px;
  justify-content: center;
  gap: 20px;
}
.playlist-details .header-element .play-all-btn {
  position: static;
  height: 50px;
  width: 50px;
  justify-content: center;
  align-items: center;
  background-color: #1ed760;
  border: 1px solid transparent;
  border-radius: 50%;
}
.playlist-details .header-element h2 {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1880px) {
  .playlist-details .playlist-header h1 {
    font-size: 5rem;
  }
}
@media screen and (max-width: 1280px) {
  .playlist-details .playlist-header .img-container {
    min-width: 190px;
    min-height: 190px;
    max-width: 190px;
    max-height: 190px;
  }
  .playlist-details .playlist-header img {
    height: 190px;
  }
  .playlist-details .playlist-header h1 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 1000px) {
  .playlist-details .playlist-header {
    padding: 64px 15px 15px 15px;
  }
  .playlist-details .song-preview .song-title {
    min-width: 150px;
  }

  .main-layout {
    grid-template-columns: 15px 1fr 15px;
  }
}
@media screen and (max-width: 900px) {
  .playlist-details .playlist-header h1 {
    font-size: 2.5rem;
  }
  .playlist-details .song-preview {
    grid-template-columns: auto auto 2fr auto auto auto;
  }
  .playlist-details .song-preview .date {
    display: none;
  }
  .playlist-details .sorting-table {
    grid-template-columns: auto 14fr auto 0.35fr;
  }
  .playlist-details .sorting-table .date-label {
    display: none;
  }
}
@media screen and (max-width: 680px) {
  .playlist-details .playlist-header {
    padding-top: 150px;
    flex-direction: column;
  }
  .playlist-details .playlist-header .img-container {
    margin-left: auto;
    margin-right: auto;
    min-width: 350px;
    min-height: 350px;
  }
  .playlist-details .playlist-header img {
    height: 100%;
  }
  .playlist-details .song-preview {
    grid-template-columns: auto 2fr auto auto;
  }
  .playlist-details .song-preview .play-container {
    display: none;
  }
  .playlist-details .song-preview .song-duration {
    display: none;
  }
  .playlist-details .song-preview .options-btn {
    opacity: 1;
  }
  .playlist-details .song-preview .like {
    opacity: 1;
  }
  .playlist-details .sorting-table {
    display: none;
  }
  .playlist-details .playlist-filter {
    position: absolute;
    top: -640px;
    width: 100%;
  }
  .playlist-details .playlist-filter .filter-container {
    flex-grow: 1;
  }
  .playlist-details .playlist-filter .filter-container .filter-name {
    display: block;
    flex-grow: 1;
  }
  .playlist-details .playlist-filter .filter-container label {
    position: absolute;
    top: 8px;
    left: 3px;
  }
  .playlist-details .playlist-controls {
    margin-top: 15px;
  }
  .playlist-details .playlist-controls .play-all-btn {
    position: absolute;
    right: 0;
    top: -12px;
    width: 70px;
    height: 70px;
  }
  .playlist-details .playlist-controls .play-all-btn svg {
    width: 25px;
    height: 25px;
  }
  .playlist-details .header-element {
    margin-top: 10px;
    display: none;
  }
  .playlist-details .header-element .play-all-btn {
    display: none;
  }
  .playlist-details .search-container .song-preview {
    grid-template-columns: auto 1fr auto auto;
  }
}
.hero {
  filter: drop-shadow(0px 0px 1px);
  z-index: 20;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  left: 0%;
  top: 0%;
}
.hero h1 {
  margin: 5px;
  font-size: 17vh;
}
.hero h3 {
  margin: 5px;
  font-size: 5vh;
}
.hero p {
  margin: 5px;
  font-size: 3vh;
}
.hero .hero-txt-container {
  left: 50%;
  top: 40%;
  align-self: center;
  color: #1ed760;
  text-align: center;
  display: flex;
  flex-direction: column;
  z-index: 5;
}
.hero button {
  margin: 20px;
  cursor: pointer;
  align-self: center;
  background-color: #1ed760;
  color: #2941ab;
  border-radius: 25px;
  border: none;
  font-size: 4vh;
  width: 50vh;
  padding: 5px;
}
.hero .hero-container {
  background: #2941ab;
  background: -webkit-linear-gradient(top left, #1c2c74 0%, #3452d9 100%);
  background: linear-gradient(to bottom right, #1c2c74 0%, #3452d9 100%);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin-top: 0px;
  overflow: hidden;
}
.hero .bg-bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.hero .bg-bubbles li {
  border-radius: 50%;
  position: absolute;
  list-style: none;
  display: block;
  width: 40px;
  height: 40px;
  background-image: url(/src/assets/upbeatinvertedsquaregreen.svg);
  opacity: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  bottom: -300px;
  -webkit-animation: square 40s infinite;
  animation: square 40s infinite;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
.hero .bg-bubbles li:nth-child(1) {
  left: 10%;
}
.hero .bg-bubbles li:nth-child(2) {
  left: 20%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-duration: 17s;
  animation-duration: 17s;
}
.hero .bg-bubbles li:nth-child(3) {
  left: 25%;
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
}
.hero .bg-bubbles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  -webkit-animation-duration: 22s;
  animation-duration: 22s;
}
.hero .bg-bubbles li:nth-child(5) {
  left: 70%;
}
.hero .bg-bubbles li:nth-child(6) {
  left: 80%;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
}
.hero .bg-bubbles li:nth-child(7) {
  left: 32%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 25s;
  animation-delay: 25s;
}
.hero .bg-bubbles li:nth-child(8) {
  left: 12%;
  width: 300px;
  height: 300px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-duration: 40s;
  animation-duration: 40s;
}
.hero .bg-bubbles li:nth-child(9) {
  left: 25%;
  width: 200px;
  height: 200px;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  -webkit-animation-duration: 40s;
  animation-duration: 40s;
}
.hero .bg-bubbles li:nth-child(10) {
  left: 90%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 28s;
  animation-delay: 28s;
}
@-webkit-keyframes square {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-1700px) rotate(600deg);
    transform: translateY(-1700px) rotate(600deg);
  }
}
@keyframes square {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-1700px) rotate(600deg);
    transform: translateY(-1700px) rotate(600deg);
  }
}

.home {
  margin-bottom: 150px;
}
.home .title-container {
  margin-top: 62px;
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: flex-end;
}
.home h2 {
  font-size: 2rem;
}
.home .see-all {
  color: #a7a7a7;
  font-weight: 700;
  display: none;
}
.home .see-all:hover {
  text-decoration: underline;
}
@media (min-width: 680px) {
  .home .see-all {
    display: block;
  }
}
.home .playlist-container {
  margin-bottom: 40px;
}

.search {
  margin-bottom: 130px;
  margin-top: 100px;
}
.search .tag-container {
  display: grid;
  margin-top: 15px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
}
.search .tag-container .tag-preview {
  justify-self: center;
  width: auto;
  height: 200px;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
@media (min-width: 500px) {
  .search .tag-container .tag-preview {
    width: 200px;
  }
}
.search .tag-container .tag-preview img {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  -webkit-transform: rotate(25deg) translate(18%, 2%);
  transform: rotate(25deg) translate(18%, 2%);
  position: absolute;
  bottom: 0;
  right: 0;
  object-fit: cover;
  object-position: center center;
  height: 80px;
  width: 80px;
}
.search .search-bar {
  display: grid;
  gap: 30px;
}
@media (min-width: 1200px) {
  .search .search-bar {
    grid-template-columns: minmax(350px, auto) 1fr;
  }
}
.search .search-bar .input-container {
  display: flex;
  flex-direction: row;
  z-index: 20;
  position: fixed;
  top: 11px;
  width: 100%;
  right: 0;
  padding-left: 3px;
  pointer-events: none;
}
@media (min-width: 680px) {
  .search .search-bar .input-container {
    width: calc(100% - 220px);
    padding-left: 30px;
  }
}
.search .search-bar .input-spacer {
  z-index: -1;
  width: 230px;
}
.search .search-bar input {
  max-width: 400px;
  display: flex;
  background-color: #ffffff;
  color: #121212;
  height: 40px;
  flex-grow: 1;
  border-radius: 50px;
  padding-left: 20px;
  margin-bottom: 40px;
  pointer-events: all;
}
.search .search-bar .top-result {
  max-width: 430px;
  display: grid;
  grid-template-rows: auto 1fr;
}
.search .search-bar .top-result .song-preview {
  display: block;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.03);
  height: auto;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.search .search-bar .top-result .song-preview:hover {
  background-color: rgba(255, 255, 255, 0.07);
}
.search .search-bar .top-result .song-preview .like {
  display: none;
}
.search .search-bar .top-result .song-preview .song-title {
  width: 100%;
  font-size: 2rem;
  line-height: 2.25rem;
  text-transform: none;
  letter-spacing: -0.04em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}
.search .search-bar .top-result .song-preview .options-btn {
  display: none;
}
.search .search-bar .top-result .song-preview .play-container {
  display: block;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.search .search-bar .top-result .song-preview .play-container h5 {
  display: none;
}
.search .search-bar .top-result .song-preview .play-container .play-btn {
  display: none;
  box-sizing: content-box;
  padding: 8px;
  height: 23px;
  width: 23px;
  background-color: #1ed760;
  color: #000000;
  border-radius: 50%;
  cursor: pointer;
}
.search .search-bar .top-result .song-preview .play-container .play-btn path {
  transform: translate(1px);
}
.search .search-bar .top-result .song-preview img {
  height: 92px;
  width: 92px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 30px;
}
.search .search-bar .top-result .song-preview:hover .play-btn {
  display: block;
}
.search .search-bar .songs {
  color: #ffffff;
}
.search .search-bar .songs .song-preview {
  padding: 7px 10px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: auto auto 1fr auto auto;
  align-items: center;
  gap: 20px;
}
.search .search-bar .songs .song-preview .options-btn {
  display: none;
}
.search .search-bar .songs .song-preview img {
  height: 40px;
  width: 40px;
  object-fit: cover;
}
.search .search-bar .songs .song-preview h5 {
  color: #b3b3b3;
}
.search .search-bar .songs .song-preview .song-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 120px;
}
@media (min-width: 450px) {
  .search .search-bar .songs .song-preview .song-title {
    min-width: 180px;
  }
}
.search .search-bar .songs .song-preview .song-duration {
  color: #b3b3b3;
  width: 42px;
}
.search .search-bar .songs .song-preview .play-container {
  width: 20px;
  justify-content: center;
  position: initial;
}
.search .search-bar .songs .song-preview:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.search .search-bar .songs .song-preview:hover > div > h5 {
  display: none;
}
.search .search-bar .songs .song-preview:hover > div > .play-btn {
  display: block;
  font-size: 20px;
  position: relative;
  left: 1px;
}

.genre h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  margin-top: 62px;
}
.genre .playlist-container {
  margin-bottom: 40px;
}
.genre .playlist-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 220px);
}

.library {
  margin-top: 65px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 190px);
  gap: 20px;
  overflow: hidden;
}
.library .liked-songs {
  height: 260px;
  grid-column: span 2;
  background: linear-gradient(149.46deg, #450af5, #8e8ee5 99.16%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 20px;
  padding-top: 70px;
  justify-content: space-between;
}
.library .liked-songs:hover {
  background: linear-gradient(149.46deg, #5a26f5, #8e8ee5 99.16%);
}
.library .liked-songs .songs-count {
  margin-bottom: 18px;
}
.library .liked-songs .songs-titles {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

@media (max-width: 680px) {
  .library {
    justify-content: center;
  }
}
.login-signup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  background: #282828;
  border-radius: 10px;
  text-align: center;
  padding: 40px;
  box-shadow: 0 0 7px hsla(0deg, 0%, 68%, 0.24);
}
.login-signup .close-btn {
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.login-signup .close-btn path {
  color: #ffffff;
  stroke: currentcolor;
}
.login-signup button {
  margin-bottom: 20px;
  color: #ffffff;
  width: 80%;
  height: 2.8125rem;
  border-radius: 200px;
  background-color: #1ed760;
  font-size: 1.25rem;
  text-transform: capitalize;
  border: none;
  cursor: pointer;
}
.login-signup .splitter {
  position: relative;
  margin-bottom: 20px;
}
.login-signup .splitter:before, .login-signup .splitter:after {
  content: "";
  background: #ffffff;
  top: 50%;
  left: 0;
  right: 60%;
  height: 1px;
  position: absolute;
}
.login-signup .splitter:after {
  left: 60%;
  right: 0;
}
.login-signup input {
  border-radius: 0.4375rem;
  width: 90%;
  height: inherit;
  background-color: #3a3a3a;
  border: none;
  outline: none;
  padding: 0 10px;
  height: 35px;
}
.login-signup .login-form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}
.login-signup .signup-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.login-signup .signup-form img {
  height: 100px;
  width: 100px;
}
.login-signup .signup-form .upload-preview {
  color: #000000;
  width: 60%;
  height: 2rem;
  border-radius: 1.25rem;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.login-signup .signup-form .upload-preview label {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 12px;
  height: 14px;
  display: none;
}
@media (min-width: 680px) {
  ::-webkit-scrollbar {
    display: block;
  }
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  min-height: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-corner {
  display: none;
}

.audio-player {
  align-items: center;
  justify-content: space-between;
  height: 90px;
  width: 100%;
  padding: 0 16px;
  display: flex;
  z-index: 100;
  position: fixed;
  bottom: 0px;
  background-color: #181818;
  box-shadow: 1px -1px 0px 0px rgba(179, 179, 179, 0.2);
}
.audio-player .song-container {
  width: 251px;
  width: 260px;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.audio-player .song-container .like-btn {
  color: #b3b3b3;
}
.audio-player .song-container .like-btn:hover {
  color: #1ed760;
}
.audio-player .song-container .audio-svg {
  height: 14px;
  width: 14px;
  position: absolute;
  right: 20px;
}
.audio-player .song-preview {
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.audio-player .song-preview .song-img {
  height: 56px;
  width: 56px;
  object-fit: cover;
}
.audio-player .song-preview .song-title {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: 400;
  width: 140px;
  overflow: hidden;
}
.audio-player .song-preview .song-title .song-txt {
  white-space: nowrap;
}
.audio-player .song-preview:hover .song-txt {
  animation: long-txt 17s;
  animation-iteration-count: infinite;
  display: inline-block;
}
@keyframes long-txt {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-101%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
.audio-player .song-preview .playlist-name {
  font-size: 0.6875rem;
  line-height: 1rem;
  font-weight: 400;
  color: #b3b3b3;
}
.audio-player .player-controlers {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 36%;
  gap: 3px;
}
.audio-player .player-btns {
  margin-top: 17px;
  align-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}
.audio-player .btn {
  color: #b3b3b3;
  font-size: 1.2rem;
  fill: currentcolor;
}
.audio-player .btn:hover {
  color: #ffffff;
}
.audio-player .play {
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #181818;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 50%;
  font-size: 1rem;
}
.audio-player .play:hover {
  color: #181818;
  -webkit-transform: scale(1.06);
  transform: scale(1.06);
  -webkit-transition-property: all;
  transition-property: all;
}
.audio-player .true {
  color: #19b350;
}
.audio-player .true:hover {
  color: #1ed760;
}
.audio-player .time-container {
  position: relative;
}
.audio-player .time-container span {
  font-size: 0.6875rem;
  line-height: 1rem;
  font-weight: 400;
  color: #b3b3b3;
  position: relative;
  top: 1.5px;
}
.audio-player .player-timer {
  position: relative;
  width: 100%;
  margin: 0 7px;
}
.audio-player input[type=range] {
  width: 100%;
  height: 15px;
  margin-left: 0;
  -webkit-appearance: none;
  background: transparent;
  /* Otherwise white in Chrome */
  background-color: transparent;
  overflow: hidden;
}
.audio-player progress {
  border: none;
  height: 4px;
  width: 100%;
  position: absolute;
  bottom: 45%;
  z-index: -1;
  background: #5e5e5e;
  border-radius: 100px;
}
.audio-player progress::-moz-progress-bar {
  border-radius: 100px;
  background: #ffffff;
}
.audio-player progress::-webkit-progress-value {
  border-radius: 100px;
  background: #ffffff;
}
.audio-player .volume:hover progress::-webkit-progress-value {
  background: #1bc156;
}
.audio-player .volume:hover progress::-moz-progress-bar {
  background: #1bc156;
}
.audio-player .volume:hover input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 10px #000000;
  height: 12px;
  width: 12px;
  border-radius: 50px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
}
.audio-player .volume:hover input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 10px #000000;
  height: 12px;
  width: 12px;
  border-radius: 50px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
}
.audio-player .player-timer:hover progress::-webkit-progress-value {
  background: #1bc156;
}
.audio-player .player-timer:hover progress::-moz-progress-bar {
  background: #1bc156;
}
.audio-player .player-timer:hover input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 10px #000000;
  height: 12px;
  width: 12px;
  border-radius: 50px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
}
.audio-player .player-timer:hover input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 10px #000000;
  height: 12px;
  width: 12px;
  border-radius: 50px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
}
.audio-player progress::-webkit-progress-bar {
  border-radius: 100px;
  background: #5e5e5e;
}
.audio-player input[type=range]:focus {
  outline: none;
}
.audio-player input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
.audio-player input[type=range]::-moz-range-thumb {
  position: relative;
  background-color: transparent;
  border: none;
}

@media screen and (max-width: 680px) {
  .audio-player {
    left: 2.5%;
    border-radius: 5px;
    bottom: 70px;
    width: 95%;
    height: 65px;
    background-color: #282828;
    color: #acacac;
    padding: 0 10px 0 0;
  }
  .audio-player .song-container {
    position: relative;
    height: 65px;
    width: 50px;
    z-index: 3000;
  }
  .audio-player .song-container .like-btn {
    position: relative;
    left: 55px;
    top: 6px;
  }
  .audio-player .song-container .song-preview {
    flex-direction: column-reverse;
    align-items: flex-start;
    position: absolute;
    bottom: 7px;
    gap: 0;
    margin-left: 5px;
  }
  .audio-player .song-container .song-preview img {
    height: 40px;
    width: 40px;
    border-radius: 5px;
  }
  .audio-player .song-container .song-preview .playlist-name {
    display: none;
  }
  .audio-player .song-container .song-preview .song-title {
    color: #b3b3b3;
    font-size: 0.8rem;
    width: 130px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .audio-player .player-controlers {
    position: absolute;
    width: 100%;
  }
  .audio-player .player-controlers .player-btns {
    width: 220px;
  }
  .audio-player .player-controlers .true:hover {
    color: #19b350;
  }
  .audio-player .player-controlers .time-container {
    position: relative;
    bottom: -10px;
    width: calc(100% + 15px);
    left: -7.5px;
  }
  .audio-player .player-controlers .time-container span {
    display: none;
  }
  .audio-player .volume {
    z-index: 10;
  }
  .audio-player .volume .volume-control {
    display: none;
  }
  .audio-player input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 10px #000000;
    height: 12px;
    width: 12px;
    border-radius: 50px;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-appearance: none;
  }
  .audio-player input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 10px #000000;
    height: 12px;
    width: 12px;
    border-radius: 50px;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-appearance: none;
  }
}
@media screen and (max-width: 450px) {
  .audio-player .player-controlers {
    position: absolute;
    width: 105vw;
  }
  .audio-player .player-controlers .player-btns {
    width: 200px;
  }
}
.playlist-list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
}
.playlist-list::-webkit-scrollbar {
  display: none;
}
@media (min-width: 680px) {
  .playlist-list {
    display: grid;
  }
}
@media (max-width: 679px) {
  .playlist-list {
    max-width: calc(100vw - 31px);
  }
}

.nav-bar {
  padding: 24px;
}
.nav-bar .nav-list {
  z-index: 15;
  width: 100%;
  background-color: #121212;
  display: flex;
  position: fixed;
  bottom: 0;
  flex-direction: row;
  color: #b3b3b3;
  padding: 0px;
  column-gap: 5%;
  justify-content: space-around;
  margin-bottom: 0;
  padding: 10px;
  box-shadow: 0px 0px 50px 50px #121212;
}
.nav-bar .nav-list li {
  display: inline-block;
  row-gap: 16px;
}
.nav-bar .nav-list li .a {
  display: flex;
  flex-direction: column;
}
.nav-bar .nav-list .svg-container {
  align-items: center;
  border-radius: 2px;
  background: linear-gradient(135deg, #450af5, #c4efd9);
  height: 24px;
  opacity: 0.7;
}
.nav-bar .nav-list .svg-container .like {
  height: 11px;
}
.nav-bar .text {
  font-weight: bold;
  height: 40px;
  display: flex;
  align-items: center;
  column-gap: 16px;
  font-size: 14px;
  transition: 0.3s;
  color: #b3b3b3;
  display: flex;
  flex-direction: column;
}
.nav-bar .text.liked {
  display: none;
  margin-bottom: 7px;
}
.nav-bar .text svg {
  height: 24px;
  width: 24px;
  fill: currentColor;
}
.nav-bar .logo-container {
  position: fixed;
  z-index: 16;
  top: 11px;
  left: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.nav-bar .logo-container img {
  border-radius: 50%;
  height: 40px;
}
.nav-bar .logo-container h1 {
  font-size: 25px;
}
.nav-bar .logo-container .text {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav-bar .text:hover {
  color: #ffffff;
}
.nav-bar .text:hover > .svg-container {
  opacity: 1;
}
.nav-bar .chosen .text {
  color: #ffffff;
}
.nav-bar .chosen .text > .svg-container {
  opacity: 1;
}
.nav-bar .navbar-playlists {
  display: none;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
@media screen and (min-width: 680px) {
  .nav-bar .text {
    flex-direction: row;
  }
  .nav-bar .text.liked {
    display: inline-flex;
  }
  .nav-bar .logo-container {
    position: static;
  }
  .nav-bar .navbar-playlists {
    display: block;
  }
  .nav-bar .navbar-playlists .nav-list {
    margin-top: 0;
  }
  .nav-bar .nav-list {
    background-color: rgba(255, 255, 255, 0);
    padding: 0;
    box-shadow: none;
    width: 172px;
    background-color: none;
    position: relative;
    flex-direction: column;
  }
  .nav-bar .nav-list li {
    display: inline;
  }
}

.playlist-preview {
  border-radius: 5px;
  width: 188.433px;
  height: 266.433px;
  background-color: rgba(255, 255, 255, 0.03);
  padding: 16px;
  margin: 5px;
  transition: 0.3s;
}
.playlist-preview h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}
.playlist-preview p {
  color: #b3b3b3;
  font-size: 0.875rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.playlist-preview .img-container {
  align-self: center;
  height: 156px;
  width: 156px;
  border-radius: 3px;
  text-align: center;
  background: #282828;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.9);
  margin-bottom: 10px;
  position: relative;
}
.playlist-preview img {
  height: 100%;
  width: 100%;
  border-radius: 3px;
}
.playlist-preview .new-playlist-icon {
  font-size: 3.4375rem;
}
.playlist-preview .play-btn {
  position: absolute;
  bottom: 5px;
  right: 5px;
  height: 50px;
  width: 50px;
  justify-content: center;
  align-items: center;
  background-color: #1ed760;
  border: 1px solid transparent;
  border-radius: 50%;
  box-shadow: 0px 8px 24px 0px rgba(18, 18, 18, 0.9);
}
.playlist-preview .play-btn:hover {
  color: #181818;
  -webkit-transform: scale(1.06);
  transform: scale(1.06);
  -webkit-transition-property: all;
  transition-property: all;
}
.playlist-preview:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.playlist-preview:hover > .img-container > .play-btn {
  display: flex;
}

.song-preview {
  display: flex;
}

.header {
  z-index: 15;
  right: 0px;
  left: 0;
  height: 64px;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  position: fixed;
  padding-bottom: 5px;
  top: 0;
}
@media (min-width: 680px) {
  .header {
    left: 220px;
  }
}
.header .headerBG {
  z-index: 5;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.3s;
}
.header .user-info {
  align-self: center;
  position: relative;
  z-index: 30;
  margin-right: 15px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #000000;
  border-radius: 500px;
  padding-right: 10px;
  cursor: pointer;
}
.header .user-info.open {
  background-color: #282828;
}
.header .user-info img {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-left: 3px;
}
.header .user-info .user-full-name {
  margin-right: 2px;
  font-size: 0.875rem;
  line-height: 1rem;
}
.header .user-info .menu-arrow {
  fill: currentColor;
}
.header .user-info .menu-arrow.open {
  transform: rotate(180deg);
}
.header .user-info .user-menu {
  position: absolute;
  right: 0;
  top: 45px;
  background-color: #282828;
  color: #a7a7a7;
  padding: 10px;
  width: 150%;
  display: none;
}
.header .user-info .user-menu.open {
  display: block;
}
.header .user-info .user-menu:hover {
  color: #ffffff;
  background-color: #282828;
}

.playlist-edit {
  bottom: 50%;
  right: 50%;
  width: 524px;
  height: 315px;
  padding: 0 20px;
  background-color: #282828;
  border-radius: 8px;
  display: grid;
  grid-template-areas: "edit . close" "image form form" "image form form" ". form form";
  grid-template-rows: 20%;
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.playlist-edit h3 {
  grid-area: edit;
  align-self: center;
}
.playlist-edit .img-container img {
  height: 180px;
  width: 180px;
}
.playlist-edit form {
  grid-area: form;
  display: flex;
  flex-direction: column;
}
.playlist-edit form input {
  margin-bottom: 16px;
  padding: 0 12px;
  height: 40px;
  font-size: 0.875rem;
}
.playlist-edit form textarea {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  resize: none;
  height: 123px;
  border-radius: 4px;
  outline: none;
  padding: 10px 12px;
  font-size: 0.875rem;
  font-family: inherit;
  color: #ffffff;
  margin-bottom: 10px;
}
.playlist-edit form input:nth-child(2) {
  height: 130px;
}
.playlist-edit .close-btn {
  align-self: center;
  grid-area: close;
  background-color: transparent;
  border: none;
  color: #b3b3b3;
  font-size: 22px;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: end;
}
.playlist-edit .close-btn:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
}
.playlist-edit .img-container {
  grid-area: image;
  width: 180px;
  height: 180px;
  background: #282828;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 50px 2px rgba(0, 0, 0, 0.3);
}
.playlist-edit .new-playlist-icon {
  font-size: 50px;
}
.playlist-edit .save-btn {
  width: 90px;
  background-color: #ffffff;
  padding: 16px;
  font-weight: bold;
  border-radius: 50px;
  border: none;
  align-self: end;
  justify-self: center;
}
.playlist-edit .save-btn:hover {
  cursor: pointer;
  -webkit-transform: scale(1.06);
  transform: scale(1.06);
  -webkit-transition-property: all;
  transition-property: all;
}

@media screen and (max-width: 680px) {
  .playlist-edit {
    width: 100vw;
    height: 100%;
    grid-template-areas: "close edit ." ". image ." ". . . " "form form form";
    grid-template-rows: 10% 30% 10%;
    z-index: 200;
    grid-template-columns: 10% auto 10%;
  }
  .playlist-edit .close-btn {
    align-self: flex-start;
    justify-self: start;
  }
  .playlist-edit h3 {
    align-self: flex-start;
    justify-self: center;
    margin-top: 10px;
  }
  .playlist-edit .img-container {
    width: 247px;
    height: 247px;
    justify-self: center;
    align-self: baseline;
  }
  .playlist-edit .img-container img {
    height: 240px;
    width: 240px;
  }
  .playlist-edit form input {
    margin-bottom: 44px;
    background-color: transparent;
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.2);
    border-radius: 0px;
    text-align: center;
    font-weight: bold;
    font-size: 2.4rem;
  }
  .playlist-edit form textarea {
    height: 38px;
    background-color: transparent;
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.2);
    border-radius: 0px;
    text-align: center;
  }
  .playlist-edit form .save-btn {
    background-color: transparent;
    padding: 8px;
    align-self: end;
    position: absolute;
    top: 0px;
    color: #ffffff;
    font-size: 1.1rem;
  }
}
.playlist-filter {
  position: relative;
  z-index: 2;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  pointer-events: none;
}
.playlist-filter .filter-container {
  align-items: center;
  position: relative;
  pointer-events: all;
}
.playlist-filter .filter-container .filter-name {
  padding: 9px;
  padding-left: 24px;
}
.playlist-filter .filter-container #toggle:checked ~ .filter-name {
  display: block;
}
.playlist-filter .filter-container #toggle:checked ~ label {
  position: absolute;
  top: 8px;
  left: 3px;
}
.playlist-filter select {
  padding: 9px 10px;
  pointer-events: all;
}

.user-msg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  bottom: 150px;
  font-size: 1.2rem;
  min-width: 100px;
  z-index: 50;
  padding: 20px;
  border-radius: 10px;
  transform: translate(-50%);
}
.user-msg span {
  filter: drop-shadow(0px 0px 1px #000);
  text-align: center;
}

.user-msg.err {
  background-color: red;
}

.user-msg.success {
  background-color: #1ed760;
}

@media screen and (min-width: 680px) {
  .user-msg {
    bottom: 100px;
    transform: translate(calc(-50% + 100px));
  }
}

/*# sourceMappingURL=styles.css.map */
