@mixin slider {}

@mixin thumb {}


.audio-player {
    align-items: center;
    justify-content: space-between;
    height: 90px;
    width: 100%;
    padding: 0 16px;
    display: flex;
    z-index: 5;
    position: fixed;
    bottom: 0px;
    background-color: $clr8;
    box-shadow: 1px -1px 0px 0px rgba(179, 179, 179, 0.2);

    .song-container{
        width: 220px;
    }
    .song-preview {
        justify-content: center;
        align-items: center;
        gap: 5px;
        margin-left: 5px;

        img {
            height: 56px;
            width: 56px;
            object-fit: cover;
        }
        .song-title{
            color: $clr3;
            font-size: 0.875rem;
            line-height: 1rem;
            font-weight: 400;
        }
        .playlist-name{
            font-size: 0.6875rem;
            line-height: 1rem;
            font-weight: 400;
            color: $clr7;
        }
    }

    .player-controlers {
        height: 100%;
        display: flex;
        flex-direction: column;
        width: 36%;
        gap: 3px;
    }

    .player-btns {
        margin-top: 17px;
        align-self: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 200px;
    }

    .btn {
        color: $clr7;

        &:hover {
            color: $clr3;
        }
    }

    .play {
        height: 32px;
        width: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $clr8;
        background-color: $clr3;
        border: 1px solid transparent;
        border-radius: 50%;

        .play-svg {
            padding-left: 2px;
        }

        .pause-svg {
            margin-right: 1px;
        }

        &:hover {
            color: $clr8;
            -webkit-transform: scale(1.06);
            transform: scale(1.06);
            -webkit-transition-property: all;
            transition-property: all
        }
    }

    .true {
        color: darken($clr5, 8%);

        &:hover {
            color: $clr5;
        }
    }

    .time-container {
        position: relative;
      span{
        font-size: 0.6875rem;
        line-height: 1rem;
        font-weight: 400;
        color: $clr7;
      }
        // right: 28%;
    }

    .player-timer {
        position: relative;
        width: 100%;
        margin: 0 7px;
    }

    progress {
        border: none;
        height: 4px;
        width: 100%;
        position: absolute;
        bottom: 45%;
        z-index: -1;
        background: $clr9;
        border-radius: 100px;

    }

    progress::-moz-progress-bar {
        border-radius: 100px;
        background: $clr3;
    }

    progress::-webkit-progress-value {
        border-radius: 100px;
        background: $clr3;
    }

    progress:hover::-webkit-progress-value {
        background: darken($clr5, 5%);
    }

    .player-timer:hover {
        & progress::-webkit-progress-value {
            background: darken($clr5, 5%);
        }

        & progress::-moz-progress-bar {
            background: darken($clr5, 5%);
        }
    }

    progress::-webkit-progress-bar {
        border-radius: 100px;
        background: $clr9;
    }

    input[type=range] {
        width: 100%; // change the divs first
        height: 15px;
        margin-left: 0;
        -webkit-appearance: none;
        background: transparent;
        /* Otherwise white in Chrome */
        background-color: transparent;
        overflow: hidden;
    }

    input[type=range]:focus {
        outline: none;
    }



    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
    }

    input[type=range]:hover::-webkit-slider-thumb {
        box-shadow: 1px 1px 10px #000000;
        height: 12px;
        width: 12px;
        border-radius: 50px;
        background: #FFFFFF;
        cursor: pointer;
        -webkit-appearance: none;
        // margin-top: -3px;
    }

    input[type=range]::-moz-range-thumb {
        position: relative;
        background-color: transparent;
        border: none;
    }

    input:hover::-moz-range-thumb {
        box-shadow: 1px 1px 10px #000000;
        height: 12px;
        width: 12px;
        border-radius: 50px;
        background: #FFFFFF;
        cursor: pointer;
        -webkit-appearance: none;
        // margin-top: -3px;
    }

}

// input[type=range]::-webkit-slider-runnable-track {
//     // width: 100%;
//     // height: 6px;
//     // cursor: pointer;
//     // background: $clr9;
//     // border-radius: 49px;
// }

// input[type=range]:hover::-webkit-slider-runnable-track {
//     // background: darken($clr5, 5%);
// }