.login-signup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  background: $clr6;
  border-radius: 10px;
  text-align: center;
  padding: 40px;
  box-shadow: 0 0 7px hsl(0deg 0% 68% / 24%);

  .close-btn{
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
    path{
      color: $clr3;
      stroke: currentcolor ; 
    }
  }

  button {
    margin-bottom: 20px;
    color: $clr3;
    width: 80%;
    height: 2.8125rem;
    border-radius: 200px;
    background-color: $clr5;
    font-size: 1.25rem;
    text-transform: capitalize;
    border: none;
    cursor: pointer;

  }

  .splitter {
    position: relative;
    margin-bottom: 20px;

    &:before,
    &:after {
      content: '';
      background: $clr3;
      top: 50%;
      left: 0;
      right: 60%;
      height: 1px;
      position: absolute;

    }

    &:after {

      left: 60%;
      right: 0;

    }
  }

  input {
    border-radius: 0.4375rem;
    width: 90%;
    height: inherit;
    background-color: #3a3a3a;
    border: none;
    outline: none;
    padding: 0 10px;
    height: 35px;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }

  .signup-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;

    img {
      height: 100px;
      width: 100px;
    }

    .upload-preview {
      color: $clr2;
      width: 60%;
      height: 2rem;
      border-radius: 1.25rem;
      background-color: $clr3;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      label{
        cursor: pointer;
      }
    }
  }
}