.user-info{
  text-align: center;
    z-index: 15;
    color: $clr3;
    position: relative;
    top: 0px;
    right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    row-gap: 10px;
    
    a{
      margin-left: 30px;
      display:flex;
      flex-direction: row;
      align-items: center;
    
    }

    .user-full-name{
display: flex;
flex-wrap: nowrap;
float: left;
 white-space: nowrap;
    }


    .login-form{
      button {
        width: 100%;
        background-color: $clr2;
        color: $clr3;
        border-radius: 30px;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
      }
    }

    img{
      border-radius: 50%;
      height: 40px;
    }

    input, select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
      
      button {
        width: 100%;
        background-color: black;
        color: white;
        border-radius: 30px;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
      }
      
      button:hover {
        background-color: #45a049;
      }
      
      div {
        border-radius: 5px;
        background-color: $clr1;
        padding: 20px;
      }
}

// .bg-blur{
//     filter: blur(8px);
//     background-color: red;
//     position: absolute;
//     height: 200%;
//     width: 200%;
// }