.nav-bar {

    padding:  24px;
    .nav-list{
        color: $clr7;
        padding: 0px;
               li{
        row-gap: 16px;
       }
    }
    .text{
        font-weight: bold;
        height: 40px;
        display: flex;
        align-items: center;
        column-gap: 16px;
        font-size: 14px;
        transition: 0.3s;
        color: $clr7;

        svg{
            height: 24px;
            width: 24px;
        }
    }
    
    .logo-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;

        img {
            border-radius: 50%;
            height: 40px;
        }

        h1 {
            font-size: 25px;
        }


        .text {
            text-decoration: none;
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }

    .text:hover {
        color: $clr3;
    }
    .chosen {
        .text{color:$clr3;}
        
    }
}