.nav-bar {

    // padding: 24px;

    .nav-list {
        z-index: 15;
        width: 100%;
        background-color: $clr1;
        display: flex;
        position: fixed;
        bottom: 0;
        flex-direction: row;
        color: $clr7;
        padding: 0px;
        column-gap: 5%;
        justify-content: space-around;
        // left: 0;
        margin-bottom: 0;
        padding: 10px;
        box-shadow: 0px 0px 50px 50px $clr1;

        .liked-li {
            display: none;
        }

        li {
            display: inline-block;
            row-gap: 16px;

            .a {
                display: flex;
                flex-direction: column;
            }
        }

        .svg-container {
            align-items: center;
            border-radius: 2px;
            background: linear-gradient(135deg, #450af5, #c4efd9);
            height: 24px;
            opacity: 0.7;

            .like {
                height: 11px;
            }
        }

    }

    .text {
        font-weight: bold;
        height: 40px;
        display: flex;
        align-items: center;
        column-gap: 16px;
        font-size: 14px;
        transition: 0.3s;
        color: $clr7;
        display: flex;
        flex-direction: column;

        &.liked {
            margin-bottom: 7px;
        }

        svg {
            height: 24px;
            width: 24px;
            fill: currentColor;
        }
    }


    .logo-container {
        position: fixed;
        z-index: 16;
        top: 10px;
        left: 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;


        img {
            border-radius: 50%;
            height: 40px
        }

        h1 {
            font-size: 25px;
        }


        .text {
            text-decoration: none;
            display: flex;
            align-items: center;
            gap: 10px;
        }

    }

    .text:hover {
        color: $clr3;

        &>.svg-container {
            opacity: 1;
        }
    }

    .chosen {
        .text {
            color: $clr3;

            &>.svg-container {
                opacity: 1;
            }
        }

    }

    .navbar-playlists {
        display: none;
        border-top: 1px solid rgba($color: $clr3, $alpha: 0.1);
        // box-shadow: 0px -9px 0px -8px rgba($color: $clr3, $alpha: 0.2);
    }


    @media screen and (min-width: 680px) {
        padding: 24px;

        .text {
            flex-direction: row;

            &.liked {
                display: inline-flex;
            }
        }

        .logo-container {
            position: static;
        }

        .navbar-playlists {
            display: block;

            .nav-list {
                margin-top: 0;
            }
        }

        .nav-list {
            background-color: rgba($color: $clr3, $alpha: 0);
            padding: 0;
            box-shadow: none;
            width: 172px;
            background-color: none;
            position: relative;
            flex-direction: column;

            li {
                display: inline;
            }

            .liked-li {
                display: inline;
            }
        }
    }

}