.playlist-filter{
    justify-content: flex-end;
    align-items: center;
    gap: 20px;

    .filter-container{
        align-items: center;
        .filter-name{
            padding: 9px;
    
        }
    
        #toggle:checked ~ {
            .filter-name{
                display: block;
            }
          }
        
        .search-label{
            // position: relative;
            // top:1px;
            // left:20px;
        }

    }
    select{
        padding: 8px 10px;
    }
}