.playlist-filter {
    position: relative;
    z-index: 2;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;

    .filter-container {
        align-items: center;
        position: relative;

        .filter-name {
            padding: 9px;
            padding-left: 24px;

        }

        #toggle:checked ~ {
            .filter-name {
                display: block;
            }

            label {
                position: absolute;
                top: 8px;
                left: 3px;
            }
        }
        // .search-label{
        //     background-color: aqua;
        // }


    }

    select {
        padding: 9px 10px;
    }
}