.playlist-preview{
    width:188.433px;
    height:266.433px;
    background-color: rgba($color: #ffffff, $alpha: 0.01);
    padding: 10px;

    img{
        height: 156px;
        width: 156px;
    }
}