.playlist-preview{
    border-radius: 5px;
    width:188.433px;
    height:266.433px;
    background-color: rgba($color: #ffffff, $alpha: 0.01);
    padding: 10px;
    margin: 5px;
    transition: 0.3s;

    .img-container {
        height: 156px;
        width: 156px;
        text-align: center;
        background: #282828;
        align-items: center;
        justify-content: center;
    }

    img {
        height: 100%;
        width: 100%;
    }

    .new-playlist-icon {
        font-size: rem(55px);
    }

}

.playlist-preview:hover{
    background-color: rgba($color: #ffffff, $alpha: 0.20);

}